#code
  %h1 Add Some Code
  %form{:action => self.posts_path, :method => 'post'}
    %input{:type => 'hidden', :name => 'authenticity_token', :value => self.form_authenticity_token}
    
    .options
      .language
        %label Language:
        %select{:name => 'post[language]'}
          - Post::LANGUAGES.each do |lang|
            %option{:value => lang.downcase}= lang
    
    %textarea{:name => 'post[body]'}= @post.body
    %button paste
#security
  
