%h1= @post.title
.details= "posted by " +  @post.user.first_name + " " + @post.user.last_name
#code
  %pre
    %code{:class => @post.language}=@post.body


#comments
  = render('/comments/comment', :collection => @post.comments)

  %form{:action => post_comments_path(@post), :method => 'post'}
    %input{:type => 'hidden', :name => 'authenticity_token', :value => self.form_authenticity_token}
    %textarea{:name => 'comment[body]'}= @comment.body
    %button comment