
%h2 Login

=error_messages_for :user_session

%form{:action => self.user_sessions_path, :method => 'post'}

  %input{:type => 'hidden', :name => 'authenticity_token', :value => self.form_authenticity_token}

  #username-label
    %label Login:
  #username
    %input{:type => 'text', :name=>'user_session[login]'}

  #password-label
    %label Password:
  #password
    %input{:type => 'password', :name=>'user_session[password]'}

  %input{:type => 'submit', :value=>'Submit'}